p{
<<<<<<< HEAD
=======

>>>>>>> 27380b692c779e6ede99b88659436443a3a0ef97
    font:Verdana;
    color:red;
  }
h1{
    font:Verdana;
}
h2{
    background-color:purple;
<<<<<<< HEAD
}
=======
}

>>>>>>> 27380b692c779e6ede99b88659436443a3a0ef97
